<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/app.css" />
    <title>Fruits Index</title>
  </head>
  <body>
    <h1>Fruits Index Page</h1>
    <ul>
      <% for (let i = 0; i < allFruits.length; i++) { %>
      <li>
        <a href="/fruits/<%=allFruits[i].id%>">
          <%= allFruits[i].name %>
        </a>
        <form action="/fruits/<%=allFruits[i].id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" />
        </form>
      </li>
      <% } %>
    </ul>
    <nav>
      <a href="/fruits/new">Create a new fruit</a>
    </nav>
  </body>
</html>